<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servletExample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  <servlet> <!-- 서블릿 클래스 등록 -->
  	<servlet-name>firstServlet</servlet-name>  				<!-- 이 서블릿에 붙일 이름 -->
  	<servlet-class>com.example.FirstServlet</servlet-class> <!-- 자바 클래스 경로 -->
  </servlet>
  <servlet-mapping> <!-- 이 서블릿을 어떤 URL로 요청할지 연결 -->
 	<servlet-name>firstServlet</servlet-name> 				<!-- 위에 서블릿 이름과 일치해야 함 -->
 	<url-pattern>/first</url-pattern>		  				<!-- 클라이언트가 접속할 때 사용할 URL경로 -->
  </servlet-mapping>

<!--  
	<servlet>
		<servlet-name>helloServlet</servlet-name>
		<servlet-class>com.example.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
 -->
 
</web-app>  <!-- 루트가 webapp이기에 이 안에서 모든 코딩을 해야한다. -->
